<!DOCTYPE html>
<html lang='en'>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
<body>
  <div class="container">
    <div class="col-md-12">
  	 <h1><%= title %></h1>
     <form action="/basicsearch" method="post">
       <input type="text" name="basic_search" placeholder="Search Menu Item or Restaurant" style="width: 350px; border: 1px">
       <button type="submit">Submit</button>
     </form>

     <% if (results) { %>
       <% for( var i=0; i < results.length; i++) { %>
          <section> 
            <p>
	    <%= results[i].menuitem[0].name %> <br />
            Description: <%= results[i].menuitem[0].description %><br />
            Restaurant: <%= results[i].name %>
	    </p> 
          </section>
       <% } %>
      <% } %>
    </div>
  </div>
</body>
</html>
